<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<a href="https://github.com/AaronRebel09?tab=repositories">
  <h3 class="center">Github Repositories</h3></a>
<img src="../../assets/aron/Octocat.png" class="center imageGithub">

<mgl-timeline [toggle]="toggle" [alternate]="alternate" [side]="side">
  <mgl-timeline-entry *ngFor="let entry of entries; let i = index;" (expand)="onExpandEntry($event, i)">
    <mgl-timeline-entry-header (click)="onHeaderClick($event)">
      <div>{{entry.header}}</div>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content [expandAnimationTiming]="contentAnimation ? '200ms ease' : '0ms'" [collapseAnimationTiming]="contentAnimation ? '100ms ease' : '0ms'">
      <div>
        <div>{{entry.content}}
          <img src="../../assets/portfolio/portfolio_{{entry.index}}.png">
        </div>

      </div>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-dot [class]="color ? 'primary' : 'accent'"
                            [size]="size"
                            (click)="onDotClick($event)"
                            [expandAnimationTiming]="dotAnimation ? '200ms ease' : '0ms'"
                            [collapseAnimationTiming]="dotAnimation ? '100ms ease' : '0ms'"
    ></mgl-timeline-entry-dot>
    <mgl-timeline-entry-side>{{entry.side}}</mgl-timeline-entry-side>
  </mgl-timeline-entry>
</mgl-timeline>

<div class="container site-footer"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div class="item item-0" fxFlex="20%"></div>

  <div class="item item-3" fxFlex >
    <h3 class="has-text-centered">Sígueme en Redes Sociales</h3>

    <!-- Using font awesome icons -->
    <a href="https://www.facebook.com/aronrebel/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/AaronRebel09" class="fa fa-twitter"></a>
    <a href="https://mail.google.com/arontellezm" class="fa fa-google"></a>
    <a href="https://www.linkedin.com/in/arontellezm/" class="fa fa-linkedin"></a>
    <a href="https://www.youtube.com/channel/UCPLQwViLU476LDrftGGqJJA?view_as=subscriber" class="fa fa-youtube"></a>
    <a href="https://www.instagram.com/aronrebel/?hl=en" class="fa fa-instagram"></a>
    <a href="https://web.whatsapp.com/5547736900" class="fa fa-whatsapp"></a>
    <a href="https://www.pinterest.com.mx/aarontellez75/" class="fa fa-pinterest"></a>
    <a href="#" class="fa fa-snapchat-ghost"></a>
    <a href="https://web.skype.com/aaronrebel01" class="fa fa-skype"></a>
    <a href="https://github.com/AaronRebel09" class="fa fa-github"></a>
    <a href="#" class="fa fa-dribbble"></a>
    <a href="#" class="fa fa-vimeo"></a>
    <a href="#" class="fa fa-foursquare"></a>
    <a href="#" class="fa fa-stumbleupon"></a>
    <a href="#" class="fa fa-flickr"></a>
    <a href="#" class="fa fa-yahoo"></a>
    <a href="#" class="fa fa-reddit"></a>
    <a href="#" class="fa fa-rss"></a>
    <div class="is-subheading">Conectemos</div>
  </div>

  <div class="item item-5" fxFlex="200px">
    <div class="level-left">Copyright © 2020
      <a rel="home" href="https://arontellezm-portfolio.firebaseapp.com/">Aarón Téllez</a>
      - Reservados todos los derechos</div>
  </div>

  <div class="item item-6" fxFlex="15%"></div>

</div>

