/*.sidenav-container {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*height: 100%;      */
/*}*/

/*.sidenav {*/
  /*width: 200px;*/
/*}*/

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.center-spacer{
  justify-content: center;
}

.right-spacer {
  flex: 1 1 auto;
}

.center {
  display: block;
  margin: auto;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  width: 100%;
  max-width: 800px;
  background-color: aquamarine;
}
