.mat-toolbar.mat-primary {
  position: sticky;
  top: 100;
}

.center-spacer{
  justify-content: center;
}

.right-spacer {
  flex: 1 1 auto;
}

.containerNavbar{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 1px;
}
body {
  font-family: Roboto, sans-serif;
}

.footer-widgets {
  background: #0F96C6;
  font-size: 0.9rem;
  color: rgba(255,255,255,0.65);
}
.section, .site-footer, .footer-widgets {
  padding: 3rem 1.5rem;
}
article, aside, figure, footer, header, hgroup, section {
  display: block;
}
* {
  box-sizing: border-box;
}
