<p>
  third-page works!
</p>

<div class="example-container">
  <mat-form-field hintLabel="Max 20 characters" appearance="fill">
    <mat-label>Enter some input</mat-label>
    <input matInput #input maxlength="20" placeholder="Email"
      [formControl] = "email"
      (change)="onEmailChange()">
    <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
  </mat-form-field>
</div>

<div class="example-button-row">
  <button mat-raised-button color="primary"
          (click)='onClickSendEmail($event)'>Send Email</button>
</div>
