<!-- <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="20%">
    <img mat-card-image class="img" src="../../assets/aron/aron.jpg" height="150">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="../../assets/gmail.svg">
    <button mat-button>
      <a href="https://mail.google.com/mail/?view=cm&ui=2&tf=0&fs=1&to=arontellezm%40gmail.com&su=SUBJECTHERE&body=LINE1%0aLINE2">COMPOSE</a>
    </button>
  </div>
</div> -->

