.example-card {
    max-width: 400px;    
  }
  
  .example-header-image {
    background-image: url('../../assets/aron/aron.jpg');
    background-size: cover;
  }

  .zelda{        
    max-height: 400px;
  }

  .center {
    display: block;  
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.header{
  height: 20px;
}
