<div class="center">
  <h1 class="mat-display-3 container">Welcome!</h1>
  <h1 class="mat-display-1 container">to aron's web.</h1>
  <h2 class="mat-h2 container">This page is dedicated for you
    know about me, my work and everything.</h2>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="card-picture">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="100%">Cosplay Zelda</span>
    </mat-card-title>
    <img mat-card-image src="../../assets/aron/zelda.jpg">
  </mat-card>
</div>
