<!--<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">-->
<!--</div>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex>
    <h1 class="entry-title">Desarrollo de Software con enfoque a Empresas.</h1>
    <p>Internet nos brinda una oportunidad de oro que nunca antes habíamos tenido: ahora puedes poner
      tu producto o servicio ante los ojos de tu cliente ideal en el momento exacto en el que lo quiere comprar.</p>
    <h3>¿En qué área de tu negocio quieres poner el foco ahora mismo?</h3>
    <ul class="listado icon-visto is-primary">
      <li>BOTS en Redes Sociales</li>
      <li>Facebook Ads y Publicidad Online</li>
      <li>Optimizacion y Automatización de Procesos</li>
      <li>Desarrollo de Software</li>
    </ul>
    <p><span style="font-weight: 400;">Pon el foco en el área de tu negocio que más necesites trabajar a día de hoy
      y aprendamos una estrategia que te va a llevar hasta donde quieras estar mañana.</span></p>
    <p>no hay un solo negocio que no pueda aprovechar el potencial de las nuevas tecnologías para vender más.<br>
      Tú también puedes hacerlo desde este mismo instante. Solo necesitas a las personas correctas para saber qué
      estrategias funcionan, qué herramientas son eficaces y cómo utilizarlas. Y yo te lo voy a contar TODO.</p>
    <h2>Elige una ruta para mejorar tus resultados.</h2>
  </div>

  <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">
    <h1 class="entry-title">Desarrollo de Software enfocado a contribuir a una comunidad abierta.</h1>
    <div class="text-is-promise">Toda mi experiencia de programacion está aquí, a tu alcance, para que aprender
      desarrollo de software te resulte más sencillo que nunca</div>
    <h2>Aprender a ser autodidacta es algo que está a tu alcance</h2>
    <p>Da igual si estás empezando o si ya tienes conocimientos más avanzados. Tienes ante ti contenido de todos
      los niveles, para que puedas evolucionar desde el punto exacto en el que te encuentras ahora mismo hasta el punto
      al que quieras llegar.</p>
    <p>Todo mi conocimiento y experiencia está organizado en estos itinerarios de formación, que han sido pensados
      para que encuentres los recursos de proyectos publicos online que impulsarán tu carrera en los próximos meses.</p>
    <p>Nada más entrar verás cursos, plantillas y recursos para que tú solo tengas que aplicar todo lo que yo he
      aprendido en los últimos años con cientos de clientes.</p>
    <p>También tienes un blog con artículos con los que aprender programación gratis, pero si quieres ir directo
      al grano, elige tu ruta y empieza a convertir más.</p>
    <p>Si has decidido que es el momento de dar un paso más allá, vamos juntos!</p>
  </div>

  <div class="item item-2" fxFlex="30%">
    <img class="responsive" src="/assets/aron/aronBBVA.jpg" style="float:right"
         alt="" width="240" height="320" sizes="(max-width: 240) 100vw, 240px">
    <div class="leyenda">Aarón Téllez, Bachelor Degree in Computer Engineering. UNAM</div>
  </div>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div class="item item-3" fxFlex >
    <h3 class="has-text-centered">Sígueme en Redes Sociales</h3>

    <!-- Using font awesome icons -->
    <a href="https://www.facebook.com/aronrebel/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/AaronRebel09" class="fa fa-twitter"></a>
    <a href="https://mail.google.com/arontellezm" class="fa fa-google"></a>
    <a href="https://www.linkedin.com/in/arontellezm/" class="fa fa-linkedin"></a>
    <a href="https://www.youtube.com/channel/UCPLQwViLU476LDrftGGqJJA?view_as=subscriber" class="fa fa-youtube"></a>
    <a href="https://www.instagram.com/aronrebel/?hl=en" class="fa fa-instagram"></a>
    <a href="https://web.whatsapp.com/5547736900" class="fa fa-whatsapp"></a>
    <a href="https://www.pinterest.com.mx/aarontellez75/" class="fa fa-pinterest"></a>
    <a href="#" class="fa fa-snapchat-ghost"></a>
    <a href="https://web.skype.com/aaronrebel01" class="fa fa-skype"></a>
    <a href="https://github.com/AaronRebel09" class="fa fa-github"></a>
    <a href="#" class="fa fa-dribbble"></a>
    <a href="#" class="fa fa-vimeo"></a>
    <a href="#" class="fa fa-foursquare"></a>
    <a href="#" class="fa fa-stumbleupon"></a>
    <a href="#" class="fa fa-flickr"></a>
    <a href="#" class="fa fa-yahoo"></a>
    <a href="#" class="fa fa-reddit"></a>
    <a href="#" class="fa fa-rss"></a>
    <div class="is-subheading">Conectemos</div>
    </div>

  <div class="item item-5" fxFlex="200px">
    <div class="level-left">Copyright © 2020
      <a rel="home" href="https://arontellezm-portfolio.firebaseapp.com/">Aarón Téllez</a>
      - Reservados todos los derechos</div>
  </div>
</div>
