<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="20%">
    <img mat-card-image class="img" src="../../assets/aron/zelda.jpg">
    Campus Party Guadalajara,MX.
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="../../assets/aron/bellasartes.jpg">
    Bellas Artes CDMX.
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="../../assets/aron/cpmx.jpg">
    Campus Party Guadalajara,MX.
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="../../assets/aron/jalisco.jpg">
    Restaurante Guadalajara,MX.
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="../../assets/aron/realmadrid.jpg">
    Real Madrid Champions League.
  </div>
</div>


<!--
<div class="header"></div>
<mat-card class="example-card" class="center">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Aaron Tellez</mat-card-title>
          <mat-card-subtitle>Software Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="zelda" src="../../assets/zelda.jpg" alt="Photo of aron">
        <mat-card-content>
          <p>
            Hello World! I'm Developer and this is my work.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
              <mat-icon aria-label="Side nav toggle icon">favorite_board</mat-icon>
            LIKE</button>
          <button mat-button>
              <mat-icon aria-label="Side nav toggle icon">share</mat-icon>
            SHARE</button>
        </mat-card-actions>
</mat-card>
-->

